<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Raleway", sans-serif;
        }

        .camera-wrapper {
            position: relative;
            width: 640px;
            height: 480px;
            margin-bottom: 20px;
        }

        .camera-wrapper img, .camera-wrapper canvas {
            position: absolute;
            top: 0;
            left: 0;
        }


    </style>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey"
           title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        <img src="{{ url_for('static', filename='w3images/avatar_g2.png') }}" style="width:45%;" class="w3-round">
        <h4><b>POLYGUARD</b></h4>
        <p class="w3-text-grey">CSC 4980 Team</p>
        <a href="{{ url_for('auth.logout') }}" class="btn btn-primary">Logout</a>
    </div>
    <div class="w3-bar-block">
        <a href="{{ url_for('views.home') }}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i
                class="fa fa-th-large fa-fw w3-margin-right"></i>CAMERAS</a>
        <a href="{{ url_for('views.playback_video') }}" class="w3-bar-item w3-button w3-padding"><i
                class="fa fa-video-camera fa-fw w3-margin-right"></i>PLAYBACK</a>
        <a href="{{ url_for('views.settings') }}" class="w3-bar-item w3-button w3-padding"><i
                class="fa fa-video-camera fa-fw w3-margin-right"></i>SETTINGS</a>
        <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i
                class="fa fa-envelope fa-fw w3-margin-right"></i>FAQ</a>
    </div>
    <div class="w3-panel w3-large">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

    <!-- Header -->
    <header id="portfolio">
        <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;"
                         class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i
                class="fa fa-bars"></i></span>
        <div class="w3-container">
            <h1><b>My Camera</b></h1>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="notification {{ category }}">
            {{ message }}
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <button id="openFormBtn" class="w3-margin-left add-camera-btn"> + Add Camera</button>
        <button id="phoneFormBtn" class="w3-margin-left add-camera-btn"> + Add Phone Number</button>
    </header>


    <!-- First Photo Grid-->
    <div class="w3-row-padding">
        {% for camera_id, ip in camera_urls.items() %}
        <div class="w3-half w3-container w3-margin-bottom">
            <div style="background-color: black; color: white; text-align: center; position: relative; /* Relative positioning for the container */">
                <img id="videoFeed_{{ camera_id }}"
                     src="{{ url_for('views.proxy_camera_feed', camera_id=camera_id) }}"
                     alt="Camera 1" style="width:100%"
                     onerror="this.onerror=null; this.src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7'; this.parentElement.textContent='Loading...';"
                     onload="adjustCanvasSize('{{ camera_id }}')">
                <canvas id="polygonCanvas_{{ camera_id }}" style="position: absolute; top: 0; left: 0;"></canvas>
                <i class="fa fa-expand" aria-hidden="true" onclick="openCameraModal('{{ camera_id }}')"></i>
            </div>

            <div class="w3-container w3-white w3-center">
                <div>
                    <!-- Alert Toggle Switch -->
                    <p>Alert: <span id="alertStatus_{{ camera_id }}">{{ 'ON' if user_cameras_dict[camera_id] else 'OFF' }}</span>
                    <label class="switch">
                        <input type="checkbox" id="alertToggle_{{ camera_id }}"
                               onclick="toggleAlert('{{ camera_id }}')"
                               {% if user_cameras_dict[camera_id] %} checked {% endif %}>
                        <span class="slider round"></span>
                    </label>
                    </p>

                    <!-- Save Polygon -->
                    <button class="w3-button w3-black w3-margin-bottom w3-margin-top"
                            onclick="savePolygon('{{ camera_id }}')">Save
                        Polygon
                    </button>
                    <!-- Clear Polygon -->
                    <button class="w3-button w3-border w3-border-grey w3-white w3-margin-bottom w3-margin-top"
                            onclick="clearPolygon('{{ camera_id }}')">Clear
                        Drawn Polygon
                    </button>
                    <!-- Remove Polygon -->
                    <button class="w3-button w3-red w3-margin-bottom w3-margin-top"
                            onclick="setNoPolygon('{{ camera_id }}')">No
                        Polygon
                    </button>
                    <!-- Centroid Adjust -->
                    <div>
                        <label for="centroidSlider_{{ camera_id }}">Centroid Y-Ratio:</label>
                        <input type="range" id="centroidSlider_{{ camera_id }}" min="0" max="100" value="50">
                        <button onclick="saveCentroidYRatio('{{ camera_id }}')">Save Y-Ratio</button>
                    </div>

                    <form style="display:inline;" action="{{ url_for('views.delete_camera', camera_id=camera_id) }}"
                          method="POST">
                        <button type="button" class="w3-button w3-red w3-margin-bottom"
                                onclick="openDeleteModal('{{ camera_id }}')">Delete Camera
                        </button>
                    </form>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>

    <!-- Outside the loop - Modal Structure to show expanded camera. This should be placed once in your HTML -->
    <div id="cameraModal" class="camera-modal">
        <img class="camera-modal-content" id="expandedCamera">
        <div id="cameraModalCaption"></div>
<!--        <span class="close" onclick="alert('Button clicked!')">&times;</span>-->
    </div>

    <!-- Pagination -->
    <div class="w3-center w3-padding-32">
        <div class="w3-bar">
            <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
            <a href="#" class="w3-bar-item w3-black w3-button">1</a>
            <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
        </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div id="deleteConfirmationModal" class="modal">
        <div class="modal-content">
            <h2>Delete Camera</h2>
            <p>Are you sure you want to delete this camera?</p>
            <div>
                <button id="confirmDelete" class="w3-button w3-red">Yes</button>
                <button class="w3-button w3-gray" onclick="closeDeleteModal()">No</button>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="cameraFormModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Add Camera</h2>
            <form class="form-modal-add" action="/add_camera" method="POST">
                <div class="input-group">
                    <label for="location">Location:</label>
                    <input type="text" id="location" name="location" required>
                </div>

                <div class="input-group">
                    <label for="nickname">Nickname:</label>
                    <input type="text" id="nickname" name="nickname">
                </div>

                <div class="input-group">
                    <label for="identifier">ID:</label>
                    <input type="text" id="identifier" name="identifier" required>
                </div>

                <div class="input-group">
                    <label for="link_password">Password:</label>
                    <input type="password" id="link_password" name="link_password" required>
                </div>

                <input type="submit" class="w3-button w3-green w3-margin-bottom" value="Add Camera">
            </form>
            <button class="w3-button w3-gray" onclick="closeCameraFormModal()">Close</button>
        </div>
    </div>

    <div id="phoneFormModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Add Number</h2>
            <form class="form-modal-add" action="/add_phonenumber" method="POST">
                <div class="input-group">
                    <label for="countrycode">Country Code:</label>
                    <input type="text" id="countrycode" name="countrycode" value="+" required>
                </div>

                <div class="input-group">
                    <label for="phonenumber">Number:</label>
                    <input type="text" id="phonenumber" name="phonenumber" required>
                </div>

                <!--<div class="input-group">
                    <label for="account_pass">Account Password:</label>
                    <input type="password" id="account_pass" name="account_pass" required>
                </div>-->

                <input type="submit" class="w3-button w3-green w3-margin-bottom" value="Add Number">
            </form>
            <button class="w3-button w3-gray" onclick="closePhoneFormModal()">Close</button>
        </div>
    </div>


    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-dark-grey">
        <div class="w3-row-padding">
            <div class="w3-third">
                <h3>ABOUT US</h3>
                <p>Harness the power of AI to monitor and manage your surroundings. Our advanced camera system detects
                    individuals and objects seamlessly within designated polygons.</p>
                <p>Developed with <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
            </div>

            <div class="w3-third">
                <h3>LATEST UPDATES</h3>
                <ul class="w3-ul w3-hoverable">
                    <li class="w3-padding-16">
                        <!--                        <img src="/w3images/ai.jpg" class="w3-left w3-margin-right" style="width:50px">-->
                        <span class="w3-large">AI Integration</span><br>
                        <span>Enhancing detection accuracy</span>
                    </li>
                    <li class="w3-padding-16">
                        <!--                        <img src="/w3images/camera.jpg" class="w3-left w3-margin-right" style="width:50px">-->
                        <span class="w3-large">New Camera Models</span><br>
                        <span>Now supporting 4K and 8K resolutions</span>
                    </li>
                </ul>
            </div>

            <div class="w3-third">
                <h3>TECHNOLOGY TAGS</h3>
                <p>
                    <span class="w3-tag w3-black w3-margin-bottom">AI</span>
                    <span class="w3-tag w3-grey w3-small w3-margin-bottom">Object Detection</span>
                    <span class="w3-tag w3-grey w3-small w3-margin-bottom">Polygon Mapping</span>
                    <span class="w3-tag w3-grey w3-small w3-margin-bottom">Real-time Monitoring</span>
                    <span class="w3-tag w3-grey w3-small w3-margin-bottom">Security</span>
                    <span class="w3-tag w3-grey w3-small w3-margin-bottom">4K</span>
                    <span class="w3-tag w3-grey w3-small w3-margin-bottom">8K</span>
                    <span class="w3-tag w3-grey w3-small w3-margin-bottom">IoT</span>
                    <span class="w3-tag w3-grey w3-small w3-margin-bottom">Smart Integration</span>
                </p>
            </div>

        </div>
    </footer>

    <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp"
                                                                title="W3.CSS" target="_blank" class="w3-hover-opacity">w3.css</a>
    </div>
</div>

<script>
    var loadedCameras = {};

    // Functions to handle canvas size, drawing, and polygon saving
    function adjustCanvasSize(camera_id) {
        var image = document.getElementById("videoFeed_" + camera_id);
        var canvas = document.getElementById("polygonCanvas_" + camera_id);
        canvas.width = image.clientWidth;
        canvas.height = image.clientHeight;
        loadedCameras[camera_id] = true;
        attachCanvasClickEvent(camera_id);
    }

    function attachCanvasClickEvent(camera_id) {
            const canvas = document.getElementById(`polygonCanvas_${camera_id}`);
            canvas.addEventListener('click', function (event) {
                if (!loadedCameras[camera_id]) {
                    alert('Please wait until the camera feed is loaded.');
                    return;
                }
                const rect = canvas.getBoundingClientRect();
                const x = event.clientX - rect.left;
                const y = event.clientY - rect.top;
                getPoints(camera_id).push({ x, y });
                drawPoints(camera_id, getPoints(camera_id));
            }, false);
        }

    function getCanvasContext(camera_id) {
        return document.getElementById(`polygonCanvas_${camera_id}`).getContext('2d');
    }

    function getPoints(camera_id) {
        window.points = window.points || {};
        window.points[camera_id] = window.points[camera_id] || [];
        return window.points[camera_id];
    }

    function drawPoints(camera_id, points) {
        const ctx = getCanvasContext(camera_id);
        ctx.clearRect(0, 0, 640, 480);
        ctx.beginPath();
        ctx.strokeStyle = 'red';
        ctx.lineWidth = 5;
        points.forEach(function (point) {
            ctx.lineTo(point.x, point.y);
            ctx.fillStyle = 'yellow';
            ctx.fillRect(point.x - 3, point.y - 3, 6, 6);
        });
        ctx.closePath();
        ctx.stroke();
    }

    function savePolygon(camera_id) {
            let points = getPoints(camera_id);
            if (points.length < 3) {
                alert("Please draw a polygon with 3 or more points before saving.");
                return;
            }

            // Get the image and canvas elements
            const image = document.getElementById("videoFeed_" + camera_id);
            const canvas = document.getElementById("polygonCanvas_" + camera_id);

            // Calculate scaling factors
            const xScale = image.naturalWidth / image.clientWidth;
            const yScale = image.naturalHeight / image.clientHeight;

            // Adjust the points based on the scaling factors
            points = points.map(pt => ({
                x: pt.x * xScale,
                y: pt.y * yScale
            }));

            const apiUrl = `/api/save_polygon/${camera_id}`;

            $.ajax({
                url: apiUrl,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({'points': points}),
                dataType: 'json',
                success: function (response) {
                    if (response.success) {
                        alert("Polygon saved successfully!");
                        // Clear the global points
                        window.points[camera_id] = [];
                        drawPoints(camera_id, window.points[camera_id]); // Clear the canvas
                    } else {
                        alert("Error saving polygon!");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                    alert("An error occurred while saving the polygon.");
                }
            });
        }

    function clearPolygon(camera_id) {
        const points = getPoints(camera_id);
        points.length = 0;
        drawPoints(camera_id, points);
    }

    function setNoPolygon(camera_id) {
        const apiUrl = `/api/clear_polygon/${camera_id}`;

        $.ajax({
            url: apiUrl,
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                if (response.success) {
                    alert("Polygon data cleared successfully!");
                    const points = getPoints(camera_id);
                    points.length = 0; // Clear the points
                    drawPoints(camera_id, points); // Clear the canvas

                } else {
                    alert("Error clearing polygon data!");
                }
            },
            error: function (xhr, status, error) {
                console.error("Error:", error);
                alert("An error occurred while clearing the polygon data.");
            }
        });
    }

    // Function to save the centroid y-ratio
    function saveCentroidYRatio(camera_id) {
        const yRatio = document.getElementById('centroidSlider_' + camera_id).value;
        // Construct your API URL here. Adjust as needed to match your Flask route.
        const apiUrl = `/api/update_centroid_y_ratio/${camera_id}`;

        fetch(apiUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({y_ratio: yRatio})
        })
            .then(response => response.json())
            .then(data => {
                alert('Centroid Y-Ratio updated for camera ' + camera_id);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

    // Function to fetch and set centroid y-ratio for a camera
    function loadAndSetCentroidYRatio(camera_id) {
        const apiUrl = `/api/get_centroid_y_ratio/${camera_id}`;
        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                if (data.success && data.y_ratio !== undefined) {
                    updateSliderValue(camera_id, data.y_ratio);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function updateSliderValue(camera_id, value) {
        const slider = document.getElementById('centroidSlider_' + camera_id);
        if (slider) {
            slider.value = value;
        }
    }

    function openDeleteModal(cameraId) {
        currentCameraToDelete = cameraId; // store the current camera ID to be deleted
        var modal = document.getElementById("deleteConfirmationModal");
        modal.style.display = "block";
    }

    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

    // Function to open the camera modal
    function openCameraModal(camera_id) {
        var modal = document.getElementById("cameraModal");
        var modalImage = document.getElementById("expandedCamera");
        var src = document.getElementById("videoFeed_" + camera_id).src;

        modalImage.src = src;
        modal.style.display = "flex";   // Change display to flex to show it
    }

    function closeCameraModal() {
        var modal = document.getElementById("cameraModal");
        modal.style.display = "none";  // Hide the modal
    }

    var currentCameraToDelete = null;

    function closeDeleteModal() {
        var modal = document.getElementById("deleteConfirmationModal");
        modal.style.display = "none";
    }

    function closeCameraFormModal() {
        var modal = document.getElementById("cameraFormModal");
        modal.style.display = "none";
    }

    function closePhoneFormModal() {
        var modal = document.getElementById("phoneFormModal");
        modal.style.display = "none";
    }

    function toggleAlert(cameraId) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/toggle_alert/" + cameraId, true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var response = JSON.parse(xhr.responseText);
                if (response.success) {
                    document.getElementById("alertStatus_" + cameraId).innerHTML = response.new_status ? 'ON' : 'OFF';
                } else {
                    // Handle error, maybe revert checkbox state
                    alert("Error toggling alert: " + response.message);
                }
            }
        }

        xhr.send();
    }


    document.addEventListener('DOMContentLoaded', function () {

        // Iterate over cameras to attach canvas click events
        var cameraIds = {{ camera_urls.keys() | list | tojson }};
        cameraIds.forEach(function(camera_id) {
            loadAndSetCentroidYRatio(camera_id);
        });

        cameraIds.forEach(function (camera_id) {
            const canvas = document.getElementById(`polygonCanvas_${camera_id}`);
            canvas.addEventListener('click', function (event) {
                if (!loadedCameras[camera_id]) {
                    alert('Please wait until the camera feed is loaded.');
                    return;
                }
                const rect = canvas.getBoundingClientRect();
                const x = Math.round(event.clientX - rect.left);
                const y = Math.round(event.clientY - rect.top);
                getPoints(camera_id).push({x, y});
                drawPoints(camera_id, getPoints(camera_id));
            }, false);

            // Load the centroid y-ratio for each camera
            loadAndSetCentroidYRatio(camera_id);
        });

        // Modal interaction handlers
        var modal = document.getElementById("cameraFormModal");
        var btn = document.getElementById("openFormBtn");
        var span = document.getElementsByClassName("close")[0];

        var phoneModal = document.getElementById("phoneFormModal")
        var phoneBtn = document.getElementById("phoneFormBtn")

        phoneBtn.onclick = function () {
            phoneModal.style.display = "block"
        }



        btn.onclick = function () {
            console.log("Open button clicked");
            modal.style.display = "block";
        }

        span.onclick = function () {
            console.log("Close button clicked");
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        document.getElementById("confirmDelete").addEventListener("click", function () {
            // Instead of querying the form with Jinja2, we construct the action URL directly using JavaScript.
            var form = document.querySelector('form[action="/delete_camera/' + currentCameraToDelete + '"]');
            if (form) {
                form.submit();
            }
            closeDeleteModal();
        });

        window.onclick = function (event) {
            var modal = document.getElementById("deleteConfirmationModal");
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }
        // Function to open the camera modal
        function openCameraModal(camera_id) {
            var modal = document.getElementById("cameraModal");
            var modalImage = document.getElementById("expandedCamera");
            var src = document.getElementById("videoFeed_" + camera_id).src;

            modalImage.src = src;
            modal.style.display = "flex";   // Change display to flex to show it
        }

        function closeCameraModal() {
            var modal = document.getElementById("cameraModal");
            modal.style.display = "none";  // Hide the modal
        }

        window.onclick = function (event) {
            // Close camera form modal if clicked outside
            var cameraFormModal = document.getElementById("cameraFormModal");
            if (event.target == cameraFormModal) {
                cameraFormModal.style.display = "none";
            }

            // Close camera modal if clicked outside
            var cameraModal = document.getElementById("cameraModal");
            if (event.target == cameraModal) {
                cameraModal.style.display = "none";
            }

            // Close delete confirmation modal if clicked outside
            var deleteConfirmationModal = document.getElementById("deleteConfirmationModal");
            if (event.target == deleteConfirmationModal) {
                deleteConfirmationModal.style.display = "none";
            }
        };

        // For each camera, call adjustCanvasSize once the video feed is loaded
        cameraIds.forEach(function(camera_id) {
            var image = document.getElementById("videoFeed_" + camera_id);
            if (image.complete) {
                adjustCanvasSize(camera_id);
            } else {
                image.onload = function() {
                    adjustCanvasSize(camera_id);
                };
            }
        });
    });
</script>

</body>
</html>
